/* body {
background-color: chocolate;
backdrop-filter: blur(50px);
 } */

 .tooltip .tooltip-text {
    visibility: hidden;
    display: inline-block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: absolute;
    z-index: 1;
    margin-top: 20px
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
.fondo-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-image: url('/icon/fondo.jpg'); */
    background-color: #eaf4f4;
    /* backdrop-filter: blur(50px); */
    /* filter: blur(10px); */
}

.container-img {
    position: relative;
    width: 100%;
    height: 50vh;
    /* background-image: url('/icon/fondo.jpg'); */
    background-image: url('https://raw.githubusercontent.com/danieljimenez28/PorfolioLandingPage/main/icon/fondo.jpg');
}

.img-profile-2 {
    /* position: absolute;
    top: 33%;
    left: 42%; */
    /* display: block; */
    height: 200px;
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 100px;
    box-shadow: 0 0 10px white;
}

.fondo-text {
    position: relative;
    top: -110px;
    /* bottom: -120px; */
    text-align: center;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.navbar-text {
    margin-right: 15px;
}

.container {
    /* margin-top: 100px; */
    padding-top: 90px;
    padding-bottom: 20PX;
}

.img-profile {
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.img-skill{
    padding: 15px;
}

#btnViewCV {
    cursor: pointer;
}

.file-container {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    /* max-height: 90vh; */
    text-align: center;
    padding: 50px 50px 20px 50px;
    z-index: 100;
    display: none;
}

.file-container-display {
    display: block;
    /* max-height: 50vh; */
}

.file-container span {
    background-color: tomato;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    display: table;
    margin-top: 20px;
}

.file-container span:hover {
    box-shadow: 0 0 5px;
    cursor: pointer;
}

.file-container p {
    position: relative;
    /* top: 150px; */
    background-color: black;
    color: white;
    box-shadow: 0 0 5px;
    margin-top: 10px;
    padding: 5px 0;
    border-radius: 5px;
}

.viewFile {
    position: relative;
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0 0 5px 10px #85C1E9;
}

.card-profile {
    border: none;
}

.card-profetion {
    font-weight: bold;
    font-style: italic;
}

.projectTitle {
    /* display: block; */
    margin: 40px 0 40px 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}


/* section {
    margin-bottom: 30px;
} */

.card {
    margin-bottom: 30px;
}

.card-img-top {
    width: 100%;
    height: 200px;
}
.card:hover {
    box-shadow: blue 0px 0px 10px 0px;
    transition: box-shadow 1.5s;
}

.card-rotate-left:hover {
    transform: rotate(-5deg);
    transition: transform 2s;
    z-index: 10;
}
.card-rotate-right:hover {
    transform: rotate(5deg);
    transition: transform 2s;
    z-index: 10;
    pa
}

article .col-md-3:hover {
    width: 150%;
}

.card-text-height {
    height: 130px;
}
.card-footer{
    text-align: center;
    font-weight:600;
}

.gap-2 {
    margin-top: 10px;
}

.container-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.aboutMy {
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
    font-size: 1.5rem;
    box-shadow: 0 0 5px;
}

@media (max-width: 550px) {
    .card-img-top {
        height: 150px;
    }
}